{% block content %}
   <h1>
       YOUR GUI CALCULATOR
   </h1>
   <body>
    <div>
        FOR ADDITION GIVE INPUT HERE <br>
    <form action="calculate" method="POST" >
        {% csrf_token %}

        Enter the 1st number <input type="text" name="num1"> 
        Operation 
        <select id="op" name="op">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        Enter the 2nd number <input type="text" name="num2"><br>
        <input type="submit"><br>
        



    </form>
    </div>
    
    <br>
    <br>
      RESULT: <h1>{{res}} </h1>

    </b>
   </body>
{% endblock %}